<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cis573.com.archaeology">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.InitialActivity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.DownloadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".util.LocalRetriever" />
        <activity
            android:name=".ui.CameraUIActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.FavoriteActivity" />
        <activity android:name=".ui.SearchActivity" />
        <activity android:name=".ui.HistoryActivity" />
        <activity android:name=".ui.ManualActivity" />
        <activity android:name=".ui.CeramicInputActivity" />
        <activity android:name=".ui.ObjectDetailActivity" />
        <activity android:name=".ui.PhotosActivity" />
        <activity android:name=".ui.MyWiFiActivity" />
        <activity android:name=".ui.VisualizationActivity" />
        <activity android:name=".ui.SessionReportActivity"
            android:screenOrientation="landscape"/>
    </application>
</manifest>